.canvasSection .title {
	padding: var(--gap-sm);
	text-align: center;
	color: var(--cv-accent-clr);
	background-color: var(--grey-clr);
	margin-bottom: var(--gap-md);
	border-radius: 2px;
}

.canvasSection .body {
	display: flex;
	flex-direction: column;
	gap: var(--gap-lg);
}

.canvasSection .body .item {
	display: grid;
	grid-template-columns: 1fr 3fr;
}

.canvasSection .body .item .name {
	font-size: 1rem;
}

.canvasSection .body .item .field {
	margin-bottom: var(--gap-md);
}

@media (width <= 700px) {
	.canvasSection .body .item {
		grid-template-columns: 1fr;
		gap: var(--gap-md);
	}
}
