@font-face {
	font-family: "NotoSans";
	src: url("../assets/fonts/NotoSans-Regular.woff") format("woff"),
		url("../assets/fonts/NotoSans-Regular.woff2") format("woff2");
	font-weight: normal;
}

@font-face {
	font-family: "NotoSans-Bold";
	src: url("../assets/fonts/NotoSans-Bold.woff") format("woff"),
		url("../assets/fonts/NotoSans-Bold.woff2") format("woff2");
	font-weight: bold;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

input,
button,
textarea,
select {
	font: inherit;
}

button {
	cursor: pointer;
}

input {
	outline: none;
	border-width: 2px;
	border-style: solid;
	border-color: transparent;
	transition: border 200ms, box-shadow 200ms;
	background-color: var(--grey-clr);
	font-size: 12px;
	padding: var(--gap-md);
	border-radius: 10px;
}

input:focus {
	border-color: var(--outline-clr);
	box-shadow: #7dafff 0px 0px 5px 0px;
}

button:focus-visible {
	outline: 2px solid var(--outline-clr);
}

button {
	filter: saturate(100%);
	transition: filter 200ms;
}

button:hover {
	filter: saturate(50%);
}

body {
	line-height: 1.5;
	max-width: 1400px;
	margin-inline: auto;
	padding: var(--gap-lg);
	font-family: var(--cv-font);
	background-color: var(--grey-clr);
}

h1,
h2,
h3 {
	font-family: var(--cv-font-bold);
}

h1 {
	font-size: var(--font-lg);
}

h2,
h3 {
	font-size: var(--font-sm);
}

.card {
	padding: calc(var(--gap-md) * 2);
	border-radius: 10px;
}

.shadow {
	box-shadow: rgba(99, 99, 110, 0.2) 0px 7px 29px 0px;
}

.container {
	display: grid;
	grid-template-columns: 1fr 2fr;
	gap: var(--gap-lg);
}

@media (width <= 700px) {
	.container {
		grid-template-columns: 1fr;
	}
}
